<!DOCTYPE html>
<html lang='en'>
  <head>
    
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>catfacts.io</title>

    <link rel='stylesheet' href='assets/vendor/bost/css/bootstrap.min.css'>
    <link rel='stylesheet' href='assets/catfacts/css/main.css'>

    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,700' rel='stylesheet' type='text/css'>

    <script data-main='assets/catfacts/js/config.js' src='assets/vendor/require.min.js'></script>

  </head>
  <body>    

    <a href="https://github.com/AKST/CatFacts">
      <img class='ribbon-wrapper' alt="Fork me on GitHub" 
           src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
    </a>


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">CatFacts.io</span>
        </div>
      </div>
    </div>

    <div class="jumbotron" id='cat_o_vision'>
      <div class='container'>
        <h1>CatFacts.io</h1>
        <p id='msg'>Mee Wow!</p>
        <div class='input-group' id='ph_form'>
          <input type='text' id='submission' class='form-control largeput' 
                 placeholder='+XX XXXX XXXX'>
          <div class='input-group-btn'>
            <button type='button' id='sub_button' class='btn btn-success largeput' 
                    tabindex='-1'>
              <span class='mobile glyphicon glyphicon-envelope'></span>
              <span class='desktop'>Subscribe</span> 
            </button>
          </div>
        </div> 
      </div>
    </div>

    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <h2>What is Catfacts.io?</h2>
          <p>
            Catfacts.io was a fun project I made to trial certain tools, and is based on the
            <a href='http://www.buzzfeed.com/mattcherette/masterful-cat-facts-texting-prank'>
            catfacts pranks</a> that was popular while back. Only this implementation
            is less spammy, and you can unsubscribe at any time.
          </p>
        </div>
        <div class='col-md-6'>
          <h2>Can I unsubscribe?</h2>
          <p>
            Once you subscribe you are told that, you can unsubscribe at any time by texting
            Q to catfacts. Once you text this, your number is removed from catfacts and you
            will no longer receive catfacts. 
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h2>Can I trust Catfacts?</h2>
          <p>
            Catfacts is open source (MIT), meaning all it's code is freely avaible 
            online for free use, extension, mirroring, critique, and whatever else. But most 
            importantly it means catfacts is transparent in a way that you can be sure it's 
            not doing any thing malicious with your phone number, if you have any suspicions.  
            Just remember this isn't a serious project, so I don't plan take responiblity 
            for any incidents, so be smart.
          </p>
        </div>
        <div class='col-md-6'>
          <h2>What happens when I subscribe?</h2>
          <p>
            When you enter your number in the field above you will be sent a confirmation
            text asking if it was really you that subscribed your own phone number. You
            can confirm or deny this by responding with Y or N. So you don't have to worry 
            about being signed up without being aware of it, this also means if you decide
            subscribe your friend they will be notified.
          </p>
        </div>
      </div>
    </div>
    <div class='footer'>
      <div class='container'>
        <p class='text-center'>
          Catfacts.io is built by <a href='https://github.com/AKST'>Angus Thomsen</a>
        </p>
        <p class='text-center'>
          source available on <a href='https://github.com/AKST/CatFacts'>Github</a>
        </p>
      </div>
    </div>
  </body>
</html>
