<!DOCTYPE html>
<html lang='en'>
  <head>
    
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>catfacts.io</title>

    <link rel='stylesheet' href='assets/vendor/bost/css/bootstrap.min.css'>
    <link rel='stylesheet' href='assets/catfacts/css/main.css'>

    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,700' rel='stylesheet' type='text/css'>

    <script data-main='assets/catfacts/js/config.js' src='assets/vendor/require.min.js'></script>

  </head>
  <body>    

    <a href="https://github.com/AKST/CatFacts" class='desktop'>
      <img class='ribbon-wrapper' alt="Fork me on GitHub" 
           src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
    </a>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type='button' class='navbar-toggle'
                  data-toggle="collapse" 
                  data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">CatFacts.io</span>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#" id='unsubscribe_btn'>Unsubscribe</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="jumbotron" id='cat_o_vision'>
      <div class='container'>
        <h1>CatFacts.io</h1>
        <p id='msg'>Mee Wow!</p>
        <div class='input-group' id='ph_form'>
          <input type='text' id='submission' class='form-control largeput' placeholder='+XX XXXX XXXX'>
          <div class='input-group-btn'>
            <button type='button' id='sub_button' class='btn btn-success largeput' tabindex='-1'>
              <span class='mobile glyphicon glyphicon-envelope'></span>
              <span class='desktop'>Subscribe</span>
            </button>
          </div>
        </div> 
        <div class='alert alert-danger fade in hidden' id='invalid_input'>
          <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>x</button>
          <h4>Invalid Number Format</h4>
          <p>
            Oops, the number you've provided isn't formatted correctly. Make sure that your phone
            only contains digits or these characters '( ) _ +', and is at least
            4 characters long. 
          </p>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <h2>What is Catfacts.io?</h2>
          <p>
            Catfacts.io was a fun project I made to trial certain tools, and is based on the
            <a href='http://www.buzzfeed.com/mattcherette/masterful-cat-facts-texting-prank'>
            catfacts pranks</a> that was popular while back. Only this implementation
            is less spammy, and you can unsubscribe at any time. If you like it and you want
            to contribute, just send me a pull request on github.
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h2>What happens when I subscribe?</h2>
          <p>
            When you enter your number in the field above you will be sent a confirmation
            text asking if it was really you that subscribed your own phone number. You
            can confirm or deny this by responding with Y or N. So you don't have to worry 
            about being signed up without being aware of it, this also means if you decide
            subscribe your friend they will be notified.
          </p>
        </div>
        <div class='col-md-6'>
          <h2>Can I unsubscribe?</h2>
          <p>
            Once you subscribe you are told that, you can unsubscribe at any time by texting
            Q to catfacts. Once you text this, your number is removed from catfacts and you
            will no longer receive catfacts. Alternatively you unsubscribe right here from
            this site in the event twilio (the sms sevice providor) is not working. Just 
            click <em>unsubscribe</em> in the top right corner, and enter your number. 
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h2>Why am I no longer receving Catfacts?</h2>
          <p>
            If you are you no longer receving catfacts, This will likely mean catfacts 
            has run out of twilio credit, and has stopped 
            responding/sending out text messages. I may or may not put more credit on the 
            account when it runs out. This will likely mean you can't unsubscribe via text 
            message, but that's okay because you still do this via the site at the top of 
            the page.
          </p>
        </div>
        <div class='col-md-6'>
          <h2>Can I trust Catfacts?</h2>
          <p>
            Catfacts is open source (MIT), meaning all it's code is freely avaible 
            online for free use, extension, mirroring, critique, and whatever else. But most 
            importantly it means catfacts is transparent in a way that you can be sure it's 
            not doing any thing malicious with your phone number, if you have any suspicions.  
            Just remember this isn't a serious project, so I don't plan take responsibility 
            for any incidents, so be smart.
          </p>
        </div>
      </div>
    </div>
    <div class='footer'>
      <div class='container'>
        <p class='text-center'>
          Catfacts.io is built by <a href='https://github.com/AKST'>Angus Thomsen</a>
        </p>
        <p class='text-center'>
          source available on <a href='https://github.com/AKST/CatFacts'>Github</a>
        </p>
      </div>
    </div>

    <!-- modals -->

    <div class='modal fade' id='400_msg'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>Opps!</h4>
          </div>
          <div class="modal-body">
            <p>
              Something unexpected happend!
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class='modal fade' id='success_msg'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>Yayy!</h4>
          </div>
          <div class="modal-body">
            <p>
              You've just submited a subscription request to catfacts, 
              you should receive a confirmation text message soon.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class='modal fade' id='unsub_modal'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>Unsubscribe</h4>
          </div>
          <div class="modal-body">
            <p>
              To unsubscribe just enter your number, and it will be removed from catfacts.
            </p>
            <div class='input-group' id='unsub_form'>
              <input type='text' id='unsub_field' class='form-control largeput' placeholder='+XX XXXX XXXX'>
              <div class='input-group-btn'>
                <button type='button' id='confirm_unsub' class='btn btn-success largeput' tabindex='-1'>
                  <span class='glyphicon glyphicon-certificate'></span>
                </button>
              </div>
            </div>
            <div class='alert alert-danger fade in hidden' id='unsub_alert'>
              <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>x</button>
              <h4>Invalid Number Format</h4>
              <p>
                Oops, the number you've provided isn't formatted correctly. Make sure that your phone
                only contains digits or these characters '( ) _ +', and is at least
                4 characters long. 
              </p>
            </div>
            <div class='alert alert-danger fade in hidden' id='400_alert'>
              <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>x</button>
              <h4>Hmm...</h4>
              <p>
                Are you sure that's your number?
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
