audio {
  display: none;
}
p, div.alert p,  button, input { 
  font-family: 'PT Sans', sans-serif; 
}
.ribbon-wrapper {
  overflow: hidden;
  position: fixed;
  top: -3px;
  right: 0px;
  z-index: 9999;
} 
h1, h2, h3, h4, .jumbotron p, [class='navbar-brand'], .nav li {
  font-family: 'Merriweather', serif;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 700;
}
.largeput {
  font-size: 1.1em;
  height: 1.8em
}
.jumbotron {
  margin-top: 51px;
  background: url('/assets/catfacts/img/i.jpg') fixed;
  background-position: fixed;
  background-width: auto;
  color: #fff;
  background-position-y: 1075px;
  background-position-x: 50%;
}
.jumbotron h1 {
  text-shadow: 0.07em 0.07em #333
} 
.container p {
  font-size: 1.2em
}
h2 + p {
  margin-top: 1em;
  margin-bottom: 2em;
}

.footer {
  font-size: 0.75em;
  padding-bottom: 2em;
}
.footer .container {
  padding-top: 3em;
  border-top: 1px solid #e5e5e5;
}
.alert {
  font-size: 0.65em ;
  margin-top: 1em;
  margin-bottom: 0;
}
.modal .alert {
  font-size: 1em
}
.hidden {
  display: none;
}


@media only screen and (min-width : 768px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width : 767px) {
  .desktop {
    display: none;
  }
  #sub_button {
    width: 2.2em;
  }
}


